<!--
Matt Van Veldhuizen
08/06/2015
Udacity Full Stack Web Developer Nanodegree
Implementation of a Catalog based Website
providing a list of Authors and Books
delete_books.html
This html code was based of the implementation
by the teachers at Udacity.
To be used with application.py
-->

{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!-- Warning -->
<h2> Are you sure you want to delete {{books.name}}? </h2>

<!-- Display Content -->
<form action="#" method = 'post'>
	<button type="submit" class="btn btn-default delete" id="submit" type="submit">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
</form>

<a href = "{{url_for('showAuthors')}}">
	<button class="btn btn-default delete">
	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
</a>
{% include "footer.html" %}
{% endblock %}