<!--
Matt Van Veldhuizen
08/06/2015
Udacity Full Stack Web Developer Nanodegree
Implementation of a Catalog based Website
providing a list of Authors and Books
library.html
This html code was based of the implementation
by the teachers at Udacity.
To be used with application.py
-->

{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!-- Change Page Title -->
<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner main">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>{{ authors.name }}	</h1>
	</div>
</div>

<!-- Display Any Messages -->
<div class = 'flash'>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
		{% for message in messages %}
			<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
		</ul>
        {% endif %}
{% endwith %}

<!-- Display Content -->
</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		
		<div class="col-md-11 padding-none">
			<a href="{{url_for('editAuthors', authors_id=authors.id )}}">
				<button class="btn btn-default" id="new-author-item">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit Authors
				</button>
			</a>
			
			<a href="{{url_for('newBook', authors_id=authors.id )}}">
				<button class="btn btn-default" id="new-book">
					<span class="glyphicon glyphicons-book-open" aria-hidden="true"></span>Add Book
				</button>
			</a>
			
			<a href="{{url_for('deleteAuthor', authors_id=authors.id )}}">
				<button class="btn btn-default delete" id="delete-author">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Author
				</button>
			</a>
		</div>
		
		<div class="col-md-7"></div>
	</div>

	{% if books !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			
			<div class="col-md-3">
				<h2>Books</h2>
					{% for b in books %}
						<h3>{{b.title}}</h3>
						<img src='{{b.cover_url}}' width=128/>
						<p>ISBN: {{b.isbn}}</p>
						<p>Description</p>
						<p>{{b.description}}</p>
						<p>Published: {{b.published_date}}</p>
						<a href="{{url_for('editBooks', authors_id = authors.id, books_id=b.id ) }}">Edit</a> |
						<a href="{{url_for('deleteBook', authors_id = authors.id, books_id=b.id ) }}">Delete</a>
					{% endfor %}
			</div>
			
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% include "footer.html" %}
{% endblock %}