{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Authors</h1>
		</div>
	</div>

<div class = 'flash'>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newAuthors')}}">
				<button class="btn btn-default" id="new-authors">
					<span class="glyphicon glyphicons-book" aria-hidden="true"></span>Add Author
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for author in authors %}
		<a href = "{{url_for('showAuthors', authors_id=authors.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 authors-list">
						<h3>{{authors.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}