{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Book</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="title">Title:</label>
					<input type ="text" maxlength="50" class="form-control" name="title" placeholder="Title of the book">

					<label for="cover_url">Cover URL:</label>
					<input type ="text" maxlength="50" class="form-control" name="cover_url" placeholder="www.example.com">

					<label for="isbn">ISBN:</label>
					<input type ="text" maxlength="13" class="form-control" name="isbn" placeholder="9781049381945">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the book"></textarea>

					<label for="published_date">Published Date:</label>
					<input type ="text" maxlength="13" class="form-control" name="published_date" placeholder="01/01/2015">

					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
					<a href = '{{url_for('showAuthors')}}'>
						<button class="btn btn-default">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}